.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.projects h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.black-gif {
    filter: brightness(0%) grayscale(100%);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transition: transform 0.9s ease;
}

.project-row:hover {
    transform: translateY(-6px);
}

.project-image img {

    object-fit: cover;
    border-radius: 5%;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFF;
    border: 1px solid rgba(58, 148, 56, 0.20);
    border-radius: 16px;
    padding: 20px;
    transition: transform 0.9s ease;
}

.project-details:hover {
    transform: translateY(-6px);
}

.tech-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tech-icon {
    width: 30px;
    height: 30px;
}

.github-link {
    text-decoration: none;
    color: black;
}


.web-link {
    text-decoration: none;
    color: black;
}

.github-icon {
    width: 25px;
    height: 25px;
}

.web-icon {
    width: 25px;
    height: 25px;
}

@media (max-width: 768px) {
    .project-row {
        flex-direction: column;
    }
}