.headerStyles {
    z-index: 9;
    width: 85%;
    height: 8vh;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}

.navStyles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navLink {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 0 10px;
}

.initial {
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #3f5efb, #fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo img {
    max-height: 50px;
}