.homeArticle {
    width: 90%;
    max-width: 450px;
    height: 700px;
    margin: 70px auto 20px;
    padding: 15px;
}

.homeArticle h1 {
    font-size: 40px;
    margin-top: 20px;
}


.homeArticle p {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.homeArticle .homeDivs {
    display: flex;
    gap: 5px;
}

.homeArticle .homeDivs div {
    background: linear-gradient(180deg, #3f5efb, #fc466b);
    display: flex;
    width: 10px;
    height: 12px;
    border: 1px solid black;
    border-radius: 50%;
}


.homeButtons {
    width: 90%;
    max-width: 410px;
    height: 700px;
    margin: 70px auto 20px;
    padding: 15px;
    text-align: center;
}


.homeButtons h1 {
    font-size: 40px;
    margin-top: 50px;
}



.homeButtons div {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}

.homeButtons div a {
    color: black;
    width: 140px;
    height: 45px;
    text-decoration: none;
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButtons div a:hover {
    background: linear-gradient(180deg, #3f5efb, #fc466b);
}



@media (max-width: 768px) {

    .homeArticle,
    .homeButtons {
        margin-bottom: 10px;
    }
}