.Footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Ocultar el footer en pantallas pequeñas */
@media (max-width: 768px) {
    .Footer {
        display: none;
    }
}